In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("ydata-ymusic-user-artist-ratings-v1_0.txt",sep='\t',header=None,names =["user_id","artist_id","rating"])

In [ ]:
top_artists = data[data.groupby('artist_id').user_id.transform(len) > 20000]

In [ ]:
top_users = top_artists[top_artists.groupby('user_id').artist_id.transform(len) > 200]

In [ ]:
top_users['rating'] = top_users['rating'].apply(lambda x:np.ceil(x/20) if 100 >= x > 0 else 1.)

In [ ]:
user_count = top_users.groupby(['user_id']).count()
artist_count = top_users.groupby(['artist_id']).count()

In [ ]:
user_item_matrix = top_users.pivot(index = 'user_id', columns ='artist_id', values = 'rating')

In [ ]:
user_item_matrix.to_csv("post_preprocess.csv")

In [4]:
# FROM HERE NEW CODE
# n1 - artists limit
# n2 - users limit
no_zeros = data[data['rating']>0]
count_artist = no_zeros.groupby('artist_id').count()

In [35]:
n1=1500
indexes1 = count_artist.nlargest(n1,'user_id').index.to_numpy()
top_n_artists = no_zeros[no_zeros['artist_id'].isin(indexes1)]

In [36]:
count_users = top_n_artists.groupby('user_id').count()

In [37]:
n2 = 3000
indexes2 = count_users.nlargest(n2,'artist_id').index.to_numpy()
top_n_users = top_n_artists[top_n_artists['user_id'].isin(indexes2)]
top_n_users

           user_id  artist_id  rating
144201        2500    1000004      45
144202        2500    1000006      60
144203        2500    1000012      65
144205        2500    1000163      55
144206        2500    1000252      55
...            ...        ...     ...
115578589  1948869    1099693      50
115578592  1948869    1100124      30
115578595  1948869    1100578      50
115578596  1948869    1100657      50
115578598  1948869    1100995      50

[2018700 rows x 3 columns]

In [39]:
top_n_users['rating'] = top_n_users['rating'].apply(lambda x:np.ceil(x/20) if 100 >= x > 0 else 1.)

<ipython-input-39-f9477ddf921f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_n_users['rating'] = top_n_users['rating'].apply(lambda x:np.ceil(x/20) if 100 >= x > 0 else 1.)

In [40]:
user_item_matrix = top_n_users.pivot(index = 'user_id', columns ='artist_id', values = 'rating')

In [41]:
user_item_matrix

artist_id,24538,1000004,1000006,1000012,1000026,1000084,1000125,1000143,1000163,1000178,...,1099699,1100124,1100232,1100250,1100578,1100657,1100796,1100834,1100969,1100995
user_id,,,,,,,,,,,,,,,,,,,,,
2500,NaN,3.0,3.0,4.0,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2663,NaN,5.0,5.0,5.0,NaN,5.0,NaN,5.0,4.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,5.0
3414,NaN,5.0,5.0,5.0,2.0,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4990,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,NaN,3.0,NaN,2.0,2.0,3.0,5.0,NaN,2.0,NaN,...,5.0,NaN,NaN,NaN,3.0,4.0,NaN,NaN,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946004,NaN,5.0,3.0,5.0,NaN,NaN,NaN,3.0,3.0,4.0,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1946650,NaN,NaN,NaN,5.0,3.0,NaN,5.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947614,NaN,3.0,NaN,3.0,4.0,4.0,5.0,3.0,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1948075,NaN,1.0,1.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,4.0
1948869,NaN,3.0,NaN,2.0,2.0,3.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,3.0,3.0,NaN,NaN,NaN,3.0

In [44]:
user_item_matrix.to_csv(f'{n2}_on_{n1}_no_zeros.csv')

In [43]:
count_users.nlargest(3000,'artist_id')

         artist_id  rating
user_id
1187840       1477    1477
302925        1475    1475
1410497       1466    1466
430585        1447    1447
92678         1409    1409
...            ...     ...
485047         511     511
610074         511     511
757193         511     511
937638         511     511
1006939        511     511

[3000 rows x 2 columns]

In [47]:

df = pd.read_csv('datamatrix.csv',index_col=0)

In [71]:
df.fillna(0).mean(axis=1).nlargest(100)

user_id
1604137    4.580000
1847670    4.576667
92678      4.412667
977346     4.373333
430585     4.297333
             ...
1164393    2.590667
290609     2.565333
1115613    2.560667
630156     2.551333
1652960    2.551333
Length: 100, dtype: float64

In [57]:
df.count(axis=1).mean()

672.9

In [73]:
top_n_users

           user_id  artist_id  rating
144201        2500    1000004     3.0
144202        2500    1000006     3.0
144203        2500    1000012     4.0
144205        2500    1000163     3.0
144206        2500    1000252     3.0
...            ...        ...     ...
115578589  1948869    1099693     3.0
115578592  1948869    1100124     2.0
115578595  1948869    1100578     3.0
115578596  1948869    1100657     3.0
115578598  1948869    1100995     3.0

[2018700 rows x 3 columns]

In [101]:
n1=20
_count_artist = top_n_users.groupby('artist_id').count()
_indexes1 = _count_artist.nlargest(n1,'user_id').index.to_numpy()
_top_n_artists = top_n_users[top_n_users['artist_id'].isin(_indexes1)]

count_users = _top_n_artists.groupby('user_id').count()

In [102]:
n2 = 1
_indexes2 = count_users.nlargest(n2,'artist_id').index.to_numpy()
_top_n_users = _top_n_artists[_top_n_artists['user_id'].isin(_indexes2)]

In [138]:
above_4 = top_n_users[top_n_users['user_id']==2500][top_n_users['rating']>=4.]
below_2 = top_n_users[top_n_users['user_id']==2500][top_n_users['rating']<3.]

<ipython-input-138-bb8e77f3edc1>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  above_4 = top_n_users[top_n_users['user_id']==2500][top_n_users['rating']>=4.]
<ipython-input-138-bb8e77f3edc1>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  below_2 = top_n_users[top_n_users['user_id']==2500][top_n_users['rating']<3.]

In [139]:
id_to_name = pd.read_csv('ydata-ymusic-artist-names-v1_0.txt',sep='\t',header=None,encoding='latin-1',names =["artist_id","name"])

In [140]:
id_to_name

       artist_id            name
0           -100  Not Applicable
1            -99  Unknown Artist
2        1000001       Bobby "O"
3        1000002       Jimmy "Z"
4        1000003    '68 Comeback
...          ...             ...
97951    1101110   14 Karat Soul
97952    1101111   The Relativez
97953    1101112       Crooked I
97954    1101113             SKG
97955    1101114       Mac Shawn

[97956 rows x 2 columns]

In [145]:
above_4

        user_id  artist_id  rating
144203     2500    1000012     4.0
144213     2500    1000454     4.0
144220     2500    1000746     5.0
144225     2500    1000861     4.0
144244     2500    1001606     5.0
...         ...        ...     ...
146058     2500    1098208     4.0
146078     2500    1098279     4.0
146245     2500    1098988     4.0
146282     2500    1099557     4.0
146284     2500    1099693     4.0

[155 rows x 3 columns]

In [146]:
all_samples = pd.concat([above_4,below_2])

In [147]:
with_names = all_samples.merge(id_to_name,on='artist_id')

In [148]:
with_names.to_csv('names_for_user_2500.csv')