In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("ydata-ymusic-user-artist-ratings-v1_0.txt",sep='\t',header=None,names =["user_id","artist_id","rating"])

In [ ]:
top_artists = data[data.groupby('artist_id').user_id.transform(len) > 20000]

In [ ]:
top_users = top_artists[top_artists.groupby('user_id').artist_id.transform(len) > 200]

In [ ]:
top_users['rating'] = top_users['rating'].apply(lambda x:np.ceil(x/20) if 100 >= x > 0 else 1.)

In [ ]:
user_count = top_users.groupby(['user_id']).count()
artist_count = top_users.groupby(['artist_id']).count()

In [ ]:
user_item_matrix = top_users.pivot(index = 'user_id', columns ='artist_id', values = 'rating')

In [ ]:
user_item_matrix.to_csv("post_preprocess.csv")

In [4]:
# FROM HERE NEW CODE
# n1 - artists limit
# n2 - users limit
no_zeros = data[data['rating']>0]
count_artist = no_zeros.groupby('artist_id').count()

In [35]:
n1=1500
indexes1 = count_artist.nlargest(n1,'user_id').index.to_numpy()
top_n_artists = no_zeros[no_zeros['artist_id'].isin(indexes1)]

In [36]:
count_users = top_n_artists.groupby('user_id').count()

In [37]:
n2 = 3000
indexes2 = count_users.nlargest(n2,'artist_id').index.to_numpy()
top_n_users = top_n_artists[top_n_artists['user_id'].isin(indexes2)]
top_n_users

           user_id  artist_id  rating
144201        2500    1000004      45
144202        2500    1000006      60
144203        2500    1000012      65
144205        2500    1000163      55
144206        2500    1000252      55
...            ...        ...     ...
115578589  1948869    1099693      50
115578592  1948869    1100124      30
115578595  1948869    1100578      50
115578596  1948869    1100657      50
115578598  1948869    1100995      50

[2018700 rows x 3 columns]

In [39]:
top_n_users['rating'] = top_n_users['rating'].apply(lambda x:np.ceil(x/20) if 100 >= x > 0 else 1.)

<ipython-input-39-f9477ddf921f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_n_users['rating'] = top_n_users['rating'].apply(lambda x:np.ceil(x/20) if 100 >= x > 0 else 1.)

In [40]:
user_item_matrix = top_n_users.pivot(index = 'user_id', columns ='artist_id', values = 'rating')

In [41]:
user_item_matrix

artist_id,24538,1000004,1000006,1000012,1000026,1000084,1000125,1000143,1000163,1000178,...,1099699,1100124,1100232,1100250,1100578,1100657,1100796,1100834,1100969,1100995
user_id,,,,,,,,,,,,,,,,,,,,,
2500,NaN,3.0,3.0,4.0,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2663,NaN,5.0,5.0,5.0,NaN,5.0,NaN,5.0,4.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,5.0
3414,NaN,5.0,5.0,5.0,2.0,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4990,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,NaN,3.0,NaN,2.0,2.0,3.0,5.0,NaN,2.0,NaN,...,5.0,NaN,NaN,NaN,3.0,4.0,NaN,NaN,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946004,NaN,5.0,3.0,5.0,NaN,NaN,NaN,3.0,3.0,4.0,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1946650,NaN,NaN,NaN,5.0,3.0,NaN,5.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947614,NaN,3.0,NaN,3.0,4.0,4.0,5.0,3.0,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1948075,NaN,1.0,1.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,4.0
1948869,NaN,3.0,NaN,2.0,2.0,3.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,3.0,3.0,NaN,NaN,NaN,3.0

In [44]:
user_item_matrix.to_csv(f'{n2}_on_{n1}_no_zeros.csv')

In [43]:
count_users.nlargest(3000,'artist_id')

         artist_id  rating
user_id
1187840       1477    1477
302925        1475    1475
1410497       1466    1466
430585        1447    1447
92678         1409    1409
...            ...     ...
485047         511     511
610074         511     511
757193         511     511
937638         511     511
1006939        511     511

[3000 rows x 2 columns]

In [47]:

df = pd.read_csv('datamatrix.csv',index_col=0)

In [51]:
df.fillna(0).to_numpy()

array([[0., 3., 3., ..., 0., 0., 0.],
       [0., 5., 5., ..., 0., 0., 5.],
       [0., 5., 5., ..., 0., 0., 2.],
       ...,
       [0., 3., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 4.],
       [0., 3., 0., ..., 0., 0., 3.]])

In [57]:
df.count(axis=1).mean()

672.9